// The selected city name as part of chart UI.
.chart-title-element {
    display: block;
    text-transform: uppercase;
    font-size: 4rem;
    font-weight: 400;
    letter-spacing: 1rem;
    height: 4rem;
    line-height: 4rem;
    color: $color-grey-light;
    padding: 0 2rem;
    width: 50%;

    &--left {
        animation: moveInLeft 1s ease-out;
        text-align: right;
        direction: rtl;
        text-indent: -1rem;
    }

    &--right {
        animation: moveInRight 1s ease-out;
    }
}