// Container element for the charts.
.chart-container-element {
    display: block;
    margin: 0 2rem;
    border: none;
    border-radius: 0.5rem;
    background: $color-grey-dark;
    width: 50%;
    height: 95%;
    visibility: hidden;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);

    &--left-1 {
        animation: moveInLeft 1s ease-out 0.5s forwards;
    }

    &--left-2 {
        animation: moveInLeft 1s ease-out 1s forwards;
    }

    &--right-1 {
        animation: moveInRight 1s ease-out 0.5s forwards;
    }

    &--right-2 {
        animation: moveInRight 1s ease-out 1s forwards;
    }

    &__title {
        display: flex;
        width: 100%;
        align-content: center;
        justify-content: center;
        height: 5rem;
        font-size: 3rem;
        font-weight: 400;
        letter-spacing: 1rem;
        text-transform: uppercase;
        color: $color-grey-light;
    }

    &__chart {
        display: block;
        width: 100%;
        height: calc(100% - 5rem);
    }
}