// General body font settings.
body {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 1.7;
    color: $color-grey-dark;
    height: 100%;
    width: 100%;
}

// The primary heading font settings.
.heading-primary {
    color: $color-grey-light;
    text-transform: uppercase;

    &--main {
        display: inline-block;
        font-size: 5rem;
        font-weight: 400;
        letter-spacing: 2.5rem;
        animation: moveInLeft 1s ease-out;
    }
}



